.wrapper {
	--color-name: var(--color-violet);
	margin-top: 45px;
}

.person__name {
	color: var(--color-white);
	background-color: var(--color-name);
	padding: var(--spacing-small);
	font-size: var(--font-size-subheader);
	font-weight: var(--font-bold);
	border-radius: var(--border-radius-small) var(--border-radius-small) var(--border-radius-small) 0;
}

.container {
	border-left: 5px solid var(--color-name);
	border-radius: var(--border-radius-small);
	display: flex;
	flex-wrap: wrap;
	padding: var(--spacing-medium);
}

/* 4118
 */
